extends ../layout/layout

mixin inputGroup(name, label, type, value)
    div.mb-3
        label.form-label(for=name)= label
        if type === "checkbox"
            input.form-control(name=name, id=name, type=type, checked=value)
        else
            input.form-control(name=name, id=name, type=type, value=value)
block content
    include ../partials/_shopNav
    h1 Update #{product.society}
    div.container-fluid.d-flex.justify-content-center
        form(action="/shop/update/"+product._id, method="post")
            div.d-flex
                div.container
                    +inputGroup('society', "Society", "text", product.society)
                    +inputGroup("qty", "Quantity", "number", product.qty)
                    +inputGroup("year", "Year", "number", product.year)
                    +inputGroup("price", "Price", "text", product.price)
                div.container
                    div.container
                        h5 Size
                        +inputGroup('h', 'Height', "text", product.size.h)
                        +inputGroup("w", "Width", 'text', product.size.w)
                        +inputGroup("uom", "Unit of measure", "text", product.size.uom)
                    +inputGroup("sale", "To sale ?", "checkbox", product.sale)
            input.btn.btn-primary.w-100(type="submit", value="Save")